<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
  name="umi">
  
    <xacro:include filename="$(find umi_description)/urdf/gripper.xacro" />
    <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />
    <xacro:property name="M_PI" value="3.1415926535897931" />

    <link name="world" />

    <xacro:arg name="name" default="ur"/>
    <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
    <xacro:arg name="ur_type" default="ur5e"/>

    <!-- parameters -->
    <xacro:arg name="tf_prefix" default="" />
    <xacro:arg name="joint_limit_params" default="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"/>
    <xacro:arg name="kinematics_params" default="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"/>
    <xacro:arg name="physical_params" default="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"/>
    <xacro:arg name="visual_params" default="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"/>
    <xacro:arg name="transmission_hw_interface" default=""/>
    <xacro:arg name="safety_limits" default="false"/>
    <xacro:arg name="safety_pos_margin" default="0.15"/>
    <xacro:arg name="safety_k_position" default="20"/>

    <!-- arm -->
    <xacro:ur_robot
      name="$(arg name)"
      tf_prefix="$(arg tf_prefix)"
      parent="world"
      joint_limits_parameters_file="$(arg joint_limit_params)"
      kinematics_parameters_file="$(arg kinematics_params)"
      physical_parameters_file="$(arg physical_params)"
      visual_parameters_file="$(arg visual_params)"
      safety_limits="$(arg safety_limits)"
      safety_pos_margin="$(arg safety_pos_margin)"
      safety_k_position="$(arg safety_k_position)"
      >
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:ur_robot>


    <joint name="gripper_ur" type="fixed">
        <parent link="tool0" />
        <child link="hand_link" />
        <origin rpy="0 0 0" xyz="0 0 0" />
    </joint>

    <xacro:sensor_d435 parent="hand_link" name="camera">
      <origin xyz="0 -0.12284 0.04239" rpy="${-28.5 / 180 * M_PI} 0 0"/>
    </xacro:sensor_d435>

</robot>